<div class="container-lg center bg-white">
  <h1 class="content-lg p-1">Edit Comment</h1>
  <%= render "shared/error_messages", resource: @comment %>
  <div class="border-bg"><%= render "shared/form_edit", resource: @comment%></div>
</div>