/* Background colors */
.bg-white {
  background-color: white;
}

.bg-1 {
  background-color: var(--background);
}

.bg-2 {
  background-color: var(--background-2);
}

/* colors */
.white {
  color: #fff;
}

.black {
  color: black;
}

.primary-color {
  color: var(--primary);
}

.primary-text {
  color: var(--primary-text);
}
.secondary-text {
  color: var(--secondary-text);
}

/* Margins */
.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-1_625{
  margin-top: 1.625rem;
}

.mt-0_5{
  margin-top: 0.5rem;
}
/* Flex & Grid */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-between{
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-left {
  align-items: flex-start;
}

.items-right {
  align-items: flex-end;
}

.content-right {
  justify-content: right;
}

.flex-center-items{
  display:flex;
  align-items: center;
  justify-content:center;
}

.wrap {
  flex-wrap: wrap;
}

.gap_zero {
  gap: 0rem;
}
.gap-0_75{
  gap: 0.75rem;
}

.gap-0_625{
  gap: 0.625rem;
}

.gap-0_5{
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}
.gap-1_25{
  gap: 1.25rem;
}
.gap-2 {
  gap: 2rem;
}

.gap-2_5 {
  gap: 2.5rem;
}
.gap-3 {
  gap: 3rem;
}


/* Width */
.fit-content {
  width: fit-content;
}

.w-full{
  width: 100%;
}

/* Text styling */
.text-left {
  text-align: left;
}

.text-center, .center {
  text-align: center;
}

/* Paddings */
.p-0 {
  padding: 0;
}

.p-xs{
  padding: 0.5rem 1rem;
}

.p-1 {
  padding: 1rem;
}

/* Shapes */

.rectangle {
  height: 0.75rem;
}

/* Borders */
.border-bg {
  border: 1px solid var(--background);
}

/* Notice and alerts */
.notice, .alert {
  position: absolute;
  text-align: center;
  color: white;
  background-color: var(--primary);
}